---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% assign breadcrumbs_enabled = site.breadcrumbs %}
{% if page.breadcrumbs != null %}
{% assign breadcrumbs_enabled = page.breadcrumbs %}
{% endif %}
{% if page.url != "/" and breadcrumbs_enabled %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}

<div id="main-wide" role="main">
    <div class="content-grid">
        {% include sidebar.html %}

        <main>
            {{ content }}
        </main>

        {% if page.toc %}
        <div class="sidebar__toc {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc" style="position: sticky; top: 2em;">
                <header>
                    <h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label |
                        default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4>
                </header>
                {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
        </div>
        {% endif %}
    </div>
</div>

<!--script src="{{ '/assets/js/prism.js' | relative_url }}"></script>
<script src="{{ '/assets/js/toc.js' | relative_url }}"></script-->